/*Agregamos las fuentes Lora y Poppins en el CSS*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Reseteamos el margen y padding de todos los elementos html*/
*{
    padding:0;
    margin:0;
}
/* Estilo del cuerpo de la página*/
body {
    background-color: #f2f2f2;
    color: #005c62;
    box-sizing: border-box;
    display: flex; /*Se convirtió a body en un contenedor flexible para evitar el colapso de márgenes entre sus elementos hijos (header, main y footer)*/
    flex-direction: column; /*Se alineó los elementos verticalmente*/
    /* Inicialmente, se añadió esta propiedad para que los elementos del body ocupen el 100% de la altura de la ventana del navegador. Sin embargo, luego se quitó para evitar que el footer no se sobreponga a otros elementos del body y ocupe correctamente la parte inferior de la pantalla del navegador.
    height: 100vh;*/
}

/*Estilo del texto dentro de etiquetas strong*/
.tituloNivel1__destacado {
    color: #3568BF;
}

/*Estilo del encabezado*/
.encabezado{
    /*Agregamos margen y padding al contenedor*/
    padding: 2% 0 0 15%; /* Arriba | Derecha | Abajo | Izquierda*/
}

    /*Estilo del menú*/
    .encabezado__menu{
        /*Acomodamos los elementos con display-flex*/
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap: 80px;
    }
        
        /*Estilo de los enlaces*/
        .encabezado__menu__item{
            /*Color de la letra*/    
            color: #3568BF;
            /*Tamaño, familia tipográfica y peso del texto*/
            font-size:24px;
            font-family: 'Poppins', Helvetica, sans-serif;
            font-weight: 600;
            /*Decoración del texto*/
            text-decoration: none;
        }
            
            /*Estilo de los enlaces del menu cuando se pasa el cursos encima*/
            .encabezado__menu__item--hover{
                cursor:pointer;
                color: #3DEFCA;
            }

            /*Estilo de los enlaces del menu cuando se hace click encima*/
            .encabezado__menu__item--active{
                color: #3DEFCA;
            }


/*Estilo del contenido (main)*/
.contenido{
    display:flex;
    align-items: center;
    padding:5% 15%; /*Para agregar un relleno a todo el contenido del 5% respecto al borde*/
    overflow: hidden;
    justify-content: space-between; /*Para añadir espacio entre los items del contenedor, si aún queda espacio libre*/
}

    /*Estilo de la sección "presentacion" del contenido (main)*/
    .contenido__presentacion{
        width:615px;
        display:flex; /*Convertimos la sección contenido__presentación en un contenedor flexible*/
        flex-direction: column; /*Establecemos como eje principal al eje vertical*/
        gap: 40px;
    }

        /*Estilo del titulo de la sección h1 "presentación"*/
        .contenido__presentacion__titulo{
            font-size:36px;
            font-family: 'Krona One', Verdana, sans-serif;
            font-weight: 400;
        }

        /*Estilo del titulo de la sección texto "presentación"*/
        .contenido__presentacion__texto{
            font-size:24px;
            line-height: 1.5;
            font-family: 'Poppins', Helvetica, sans-serif;
            font-weight: 400;
        }

        /*Estilo de los elementos de una lista*/
        .contenido__presentacion__lista{
            font-size:24px;
            line-height: 1.5;
            font-family: 'Poppins', Helvetica, sans-serif;
            font-weight: 400;
            padding: 0 0 0 6.5%; /* Arriba | Derecha | Abajo | Izquierda*/
        }

            /*Estilo de los enlaces en los elementos de una lista*/
            .contenido__presentacion__lista__item{
                /*Color de la letra*/    
                color: #3568BF;
                /*Tamaño, familia tipográfica y peso del texto*/
                font-size:24px;
                font-family: 'Poppins', Helvetica, sans-serif;
                font-weight: 600;
                /*Decoración del texto*/
                text-decoration: none;
            }

                /*Estilo de los enlaces del menu cuando se pasa el cursos encima*/
                .contenido__presentacion__lista__item--hover{
                    cursor:pointer;
                    color: #3DEFCA;
                }

                /*Estilo de los enlaces del menu cuando se hace click encima*/
                .contenido__presentacion__lista__item--active{
                    color: #3DEFCA;
                }

        /*Estilo de los enlaces de la sección texto "presentación"*/
        .contenido__presentacion__redSocial{
            display:flex;
            flex-direction:column;
            align-items: center;
            gap:32px;
        }
            /* Estilo del título del contenedor "Red Social"*/
            .contenido__presentacion__redSocial__titulo{
                /*Tipo de la fuente*/
                font-family: 'Krona One', Verdana, sans-serif;
                /*Tamaño de la fuente*/
                font-size:24px;
                /*Peso de la fuente*/
                font-weight: 400;
            }

            /* Estilo por defecto de los enlaces */
            .contenido__presentacion__redSocial__item {
                /*Tamaño, fuente y negrita de la letra*/
                font-size:24px;
                font-family: 'Poppins', Helvetica, sans-serif;
                font-weight: 600;
                /*Decoración y posición de la letra*/
                color: #3568BF;
                text-decoration: none;
                text-align: center;
                /*Borde, tamaño y esquinas de la cajita*/
                border: 2px solid #3568BF;
                width:378px;
                padding: 21.5px 0;
                border-radius: 8px;
                /*Posicionamiento de elementos con flex-box*/
                display: flex;
                justify-content: center;
                align-items: center; /*para evitar que la altura de los íconos de amplie hasta alcanzar la altura del content (36px) y se mantenga en 32px*/
                gap:16px;
            }
                /* Estilo cuando paso el cursor sobre los enlaces */
                .contenido__presentacion__redSocial__item--hover{
                    cursor:pointer;
                    background-color: #ffffff;
                    padding: 3%;
                }

                /* Estilo cuando mantengo presionado el click sobre los enlaces */
                .contenido__presentacion__redSocial__item--active{
                    color: #3DEFCA;
                }

/*Estilo del pie de pagina*/
.pieDePagina{
    /*Color de fondo y la letra*/    
    background-color: #3568BF;
    color: #f5f5f5;
    /*Tamaño, familia tipográfica y peso del texto*/
    font-size:24px;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
    /*Ubicación de los elementos con display flex*/
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 24px;
    /*Espaciado del Padding*/
    padding: 24px;
    overflow: hidden;
}

/* Estilo cuando visité los enlaces */
a:visited { /* visited es una pseudoclase especial que no se puede reemplazar con una clase BEM (--visited) debido a restricciones de seguridad*/
    color: violet;
}


